<!DOCTYPE html>
<html>
    <link rel="icon" href="../resources/favicon.svg" type="image/svg+xml">
<body>
    <img src="../resources/banner.svg">
    <nav class="menue">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../views/two.html">Page Two</a></li>
            <li><a href="../views/three.html">Page Three</a></li>
        </ul>
    </nav>


    <h1>Favorite Coding Resources</h1>

    <table>
        <caption>Top Coding Resources</caption>
        <thead>
            <tr>
                <th>Coding Resource</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cppreference.com</td>
                <td><a href="https://cppreference.com">https://cppreference.com</a></td>
            </tr>
            <tr>
                <td>ChatGPT by OpenAI</td>
                <td><a href="https://chat.openai.com">https://chat.openai.com</a></td>
            </tr>
            <tr>
                <td>freeCodeCamp.org</td>
                <td><a href="https://www.youtube.com/freecodecamp">https://www.youtube.com/freecodecamp</a></td>
            </tr>
        </tbody>

    </table>
</body>

</html>